<div id="content">
    <br/>
    <center>
      <%= image_tag("excl.png", :alt => "a useless quest", id: "about_image") %>
    </center>
    <ul id="about"> Embark on a Useless Quest: <br/><br/>
        <li>construct an epic hero or villain</li>
        <li>fight a random creature</li>
        <li>gain experience. kill more stuff</li>
    </ul>
    
</div>