<div id="content">
  <h2 id="maintitle">a useless quest</h2>
  <p id="question">step 1: input your character details</p>
  <div class="container">
    <form action="quests_form.asp" method="post">
      <div class="elements">
        <p id="element1">
          <input type="text" name="chname" class="text-area" placeholder="Enter your character name">
        </p>
      </div>
      <div class="elements">
        <p id="element2">
          
        </p>
      </div>
      <div class="elements">
        <p id="element3">
          <input type="text" name="chclass" class="text-area" placeholder="Enter your character class">
        </p>
      </div>
      <input type="submit" name="chsubmit" id="submit" class="submit-button">
    </form>
  </div>
  <p id="notice"><%= notice %></p>
</div>